
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #0d0d0d;
    color: whitesmoke;
}

h1 {
    text-align: center;
    color: #0d0d0d;
    font-size: 2rem;
}  
.container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
}  
.search {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px 10px;
    margin: 10px 0px;
    outline: none;
    width: 100%;
}
ul {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

li {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    list-style: none;
    background-color: lightgray;
    border-radius: 5px;
    width: 100%;
    margin: 5px 0px;
}

li p {
    font-weight: 700;
    color: #0d0d0d;
    margin: 0;
    padding: 15px;
    width: 100%;
}
p{
    color: #0d0d0d;
}

.btn-delete {
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    width: 15%;
    font-size: 2rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.btn-delete:hover {
    cursor: pointer;
    background-color: red;
}

.btn-add {
    padding: 5px 15px;
    margin-bottom: 10px;
    border: none;
    color: whitesmoke;
    font-family: fantasy;
    background-color: green;
    font-size: 3rem;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

.btn-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border: none;
    color: whitesmoke;
    background-color: black;
    font-size: 2rem;
    outline: none;
    border-radius: 5px;
}

.btn-add:hover {
    cursor: pointer;
    background-color: rgb(138, 214, 25);
}

.empty {
    margin: 10px;
    color: darkslategrey;
}

.total {
    color: #0d0d0d;
    margin: 30px 10px;
}

.nota {
    font-size: 1rem;
}